{%- set is_active = app.request.attributes.get('_route') == routeName -%}

<a href="{{ path(routeName, routeParameters) }}"
   class="{{ is_active ? 'bg-gray-900 text-white' : 'text-gray-300 hover:bg-gray-700 hover:text-white' }} px-3 py-2 rounded-md text-sm font-medium"
   {% if is_active %}aria-current="page"{% endif %}
>
    {{- text -}}
</a>
